<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>




<% # This is to test the current page and next page. Still bug where it leave the page and goes to home page %>
<%= will_paginate @events, renderer: BootstrapPagination::Rails %>







<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>
<% i = 0 %>
<% j = 0 %>
<% k = 0 %>
<% l = 0 %>
<% passingdaytoday = Date.today %>




<div class="container" style="padding-top: 50px; float: center; width: auto; max-width: 1470px;">
<div id="events">
  <h2 id="month" style="color: black;"> <%= @monthforCalendar.strftime("%B %Y") %> </h2>
<%= weekcaler @monthforCalendar do |date| %>

<div class="tabsContainer">
    <div class="col-md-9 col-md-offset-1 col-xs-11">

      <div class="buttonsContainer">

        <button onclick= "Panel1(2,'#900C3F')"> <%= date.strftime("%A")%><br><%= date.day %> </button>
        <% @passingdaytodayy = date.day %>
        <button onclick="Panel1(3,'#900C3F')">second View </button>

      </div>
    </div>


<div class="tabsPanel1">
<div class="row" id="calendar">
  <div class="col-md-11 col-xs-12">
    <p style = "color:black;"> tested message<br><br> <%= @passingdaytodayy %> </p>
  </div>
</div>
</div>

</div>

<% end %>




</div>
</div>




<div class="tabsPanel1" >
    <%= render 'layouts/renderday', collection: @passingdaytodayy %>
</div>









<script>

  function Panel1 (panelIndex, colorCode) {
    var tabButtons=document.querySelectorAll(".tabsContainer .buttonsContainer button");
    var tabPanels=document.querySelectorAll(".tabsContainer .tabsPanel1");
    tabButtons.forEach(function(node) {
      node.style.backgroundColor=colorCode;
      node.style.color="FFFFFF";
    });

    tabButtons[panelIndex].style.backgroundColor="none";
    tabButtons[panelIndex].style.color="none";
    tabPanels.forEach(function(node) {
      node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
    tabPanels[panelIndex].style.backgroundColor="white";


    @passingdaytodayy = Date.today


  }
  Panel1(2,'#900C3F');

</script>
